<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    {{ formset.management_form }}
    {% for form in formset %}
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <a href="/category" target="_blank">+++</a>
        <br>
    {% endfor %}
    <input type="submit" value="submit" name="submit">
</form>
</body>
</html>